body{
	margin-left:75px;
	margin-right:75px;
}

table{
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
	min-width:1024px;
}

th.event{
	width:30%;
}
th.status{
	width:20%;
	text-align:left;
}
td,th{
	padding: 4px;
}
tr{
	border: 1px solid #dddddd;
}
.heading{
	background-color: #f0f0f0;
	font-weight:bold;
}
.red {
	background-color: #ffb3ba;
}
.orange {
	background-color: #ffdfba;
}
.yellow {
	background-color: #ffffba;
}
.green {
	background-color: #baffc9	;
}

.slideLeg {
	position: fixed;
	top:0;
	left:0;
}

.legend {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 0px;
    transition: 0.5s;
}

.legend div{
	padding: 5px 5px 5px 5px;
	border-style:solid;
	border-width:1px;
	border-collapse:collapse;
	border-color:#DDDDDD;
}

div.div-table{
	text-align: center;
	max-width:175px;
	border-style: hidden;
	border-color: #f0f0f0;
	background-color: #f0f0f0; 
}

.legend .closeLeg {
	text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}

@media handheld, only screen and (max-width: 1024px) {
	/*
	body{
		margin-left:27%;
		margin-right:27%;
		font-size:2.5em;
	}
	table{
		font-size:1em;
	}
	th.event{
		padding-right:20%
	}
	*/
	.green{
		background-color:#bae1ff;
	}
	/*.legend {padding-top: 15px;}*/
	body{
		margin-left:55px;
		margin-right:55px;
		zoom: 4; 
		-moz-transform: scale(4);
		-moz-transform-origin: 0 0;
	}
	
	table{
		min-width:350px;
	}
}