<html>
	<head>
		<title>
			Dofasco Notification
		</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static '/css/pretty.css' %}" type = "text/css"/>
	</head>
	<body>
		<script src="{% static '/js/legend.js' %}"></script>
		
		<!-- Side bar legend -->
		<div id="sideLegend" class="legend">
			<a href="javascript:void(0)" class="closeLeg" onclick="closeLeg()"><img src="{% static '/img/nav.png' %}" alt="Legend"></a>

			<div class="div-table">
				<div class="heading">
					Legend <br />
				</div>
				<div class="red">
					RTP <br />
				</div>
				<div class="orange">
					Attention <br />
				</div>
				<div class="yellow">
					Major <br />
				</div>
				<div class="green">
					Repage <br />
				</div>
				<div style="background-color:#FFFFFF">
					Normal <br />
				</div>
				<a href="javascript:void(0)" onclick="toggleCB()">Toggle Colourblind</a>
			</div>
		</div>
		<a href="javascript:void(0)" class="slideLeg" onclick="openLeg()"><img src="{% static '/img/nav.png' %}" alt="Legend"></a>

		<!-- Test Table-->
		<table class = "main">
			<tr class="heading">
				<th class="event"> Event </th>
				<th class="status">Status</th>
			</tr>
			{% block content %}
			{% endblock %} 
		</table>
	</body>
</html>